body{
/*	background-image: url("dagger.png");*/
	background-repeat:no-repeat;
	background-position:10% 40%;
	text-align:center;
	background-color: black;
}
#black{
	width: 300px;
	height: 300px;
	background-color: black;
}
#first{
	width: 200px;
	height: 200px;
	background-color: black;
}
#second{
	width: 150px;
	height: 150px;
	background-color: black;
}
#third{
	width: 100px;
	height: 100px;
	background-color: black;
}
#fourth{
	width: 50px;
	height: 40px;
	background-color: black;	
}
h1{
	text-align:center;
	font-family:"ff-brokenscript-web";
	font-weight:800;
	font-size: 150px;
	color: #C01414;
	margin-top:10%;
}
h2{
	text-align:left;
	text-decoration:underline;
	font-family:"ff-brokenscript-web";
	font-weight:800;
	font-size: 40px;
	color: #C01414;
	margin-left: 10%;
}
h3{
	text-align:right;
	font-family:"sabbath-black";
	font-weight:800;
	font-size: 80px;
	color: #D5D8DC;
	margin-right:10%;
}
h4{
	text-align:left;
	font-family:"ff-brokenscript-web";
	font-weight:800;
	font-size: 40px;
	color: #C01414;
	margin-left: 10%;
}
h5{
	text-align:right;
	font-family:"sabbath-black";
	font-weight:800s;
	font-size: 60px;
	color: #D5D8DC;
	margin-right:10%;
}
h6{
	text-align:right;
	text-decoration:underline;
	font-family:"sabbath-black";
	font-weight:800;
	font-size: 50px;
	color: #D5D8DC;
	margin-right:10%;
}
pre{
	font-size:45px;
	font-family:"ff-brokenscript-web";
	text-align:left;
	color:#C01414;
	margin-left: 10%;
}
p{
	margin-top: 0;
	margin-bottom:0;
}
#nomore{
	-webkit-animation: color-change 7s infinite;
}
 @-webkit-keyframes color-change {
        0% { color: black; }
        50% { color: #C01414; }
        100% { color: black; }
    }
img{
	width:400px;
}